.table-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin: 1%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Set specific widths for the SL.No, Name, and Pincode columns */
th:first-child,
td:first-child {
  width: 80px;
}

th:nth-child(2),
td:nth-child(2) {
  width: 300px;
}

th:nth-child(4),
td:nth-child(4) {
  width: 170px;
}

th:nth-child(3),
td:nth-child(3),
th:nth-child(5),
td:nth-child(5) {
  width: 120px;
}

th:last-child,
td:last-child {
  width: 200px;
  text-align: center;
}

td div {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 5px 10px;
  margin: 0 5px;
}
.edit-modal,
.delete-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center the content horizontally */
}

.edit-modal .text_input {
  margin-top: 20px !important;
}

/* Responsive styles */
@media (max-width: 600px) {
  th,
  td {
    display: block;
    width: 100% !important;
    box-sizing: border-box;
  }

  td {
    padding: 8px;
    text-align: left;
    margin-bottom: 5px;
  }
}
